body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
}
h1{
    font-size: 45px;
    
}
.color-orange{
    color: orange;
}
.flexible-container{
    display: flex;
   
}


.half-width{
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.link-batton{
    text-decoration: none;
    background-image: linear-gradient(#ff8800,tomato);
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 700;
    color: white;
}