body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
}
h1{
    font-size: 45px;
    
}
.color-orange{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
   
}


.half-width{
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    
}
.half-width img{
    width: 62.5%;
    
    
}
.link-batton{
    text-decoration: none;
    background-image: linear-gradient(#ff8800,tomato);
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 700;
    color: white;
}
#half-widh-img{
    
    padding-left: 10%;
}
.about-me{
    
    background-image: url(image/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
   
}
.my-recipies{
    text-align: center;
}
.person-img{
    padding-bottom: 20%;
}
.recipie-img img{
    border-radius: 10px;
    width: 100%;
}

.recipie-img{
    box-shadow: 5px 10px 10px 10px gray;
    padding: 20px 40px;
    border-radius: 20px;
    margin: 15px;
}





